<nb-card size="medium">
  <nb-card-body>
    <div class="details">
      <div class="title display-3 mb-3">
        PARASITE
      </div>
      <div class="description mt-5 lead">
        <p class="text-justify">A great man once said:
          <q>Drop the SE course.</q> Team Parasite consists of members who chose, although with some regrets, not to. It was
          formed in February 2018, as the product of many voluntary and involuntary decisions. Some say that it was randomness
          that brought us together; others claim that they had carefully planned tutorial transfers, but no one knows for
          sure. In the end, you can find all types of people among us: There are those who care about efficiency and algorithms,
          others who side with teamwork and fairness, and yet others who will probably care about none of the above. It is
          quite normal and acceptable. Some value diligence and dedication; others value their rights to some freedom and
          flexibility. Then, there will always come someone who would say: The ultimate goal is to pass the course, or is
          it not? And many who would rightfully ask: How could balance be achieved? Regardless, as our views clash and as
          we experience the good and bad of cooperation and competition, we will strive as a team to achieve the best we
          can reach. And it is perhaps in this intention, polished by its naivete and many fallacies, that one could find
          some light in our chaotic microcosm.</p>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<p>
  Please add Images underneath
</p>
<div>
  <img src="assets/people/Reda.png" />
  <h3>Reda Ramadan</h3>
  <p>If not asking the client about every detail concerning the product is not SE, what is SE?!</p>
</div>
<div>
  <img src="assets/people/OmarElkilany.jpg" />
  <h3>Omar Elkilany</h3>
  <p>Contemplating the meaning of life since 1996. Progress: I'm 50% sure I exist, and 100% sure that it's not that good of
    an experience.</p>
</div>
<div>
  <img src="assets/people/Maqarios.jpg" />
  <h3>Maqarios Mohareb</h3>
  <p>Error 404. Time not found!</p>
</div>
<div>
  <img src="assets/people/olfat.jpg" />
  <h3>Olfat Mostafa</h3>
  <p>Essential outcome of a butterfly effect.</p>
</div>
<div>
  <img src="assets/people/OmarEl-Sherif.jpg" />
  <h3>Omar El-Sherif</h3>
  <p>This human is still in the alpha testing phase, optimal performance not guaranteed.</p>
</div>
<div>
  <img src="assets/people/OmarElsebai.jpg" />
  <h3>Omar Elsebai</h3>
  <p>Resource leak: 'eyes' is never closed </p>
</div>
<div>
  <img src="assets/people/Nesrin.jpg" />
  <h3>Nesrin Abdulaziz</h3>
  <p>While they are in the pub, we are on github. \O/</p>
</div>
<div>
  <img src="assets/people/Darwish.png" />
  <h3>Ahmed Darwish</h3>
  <p>Katch Kadr fel 2lolo, kmananana</p>
</div>
<div>
  <img src="assets/people/Nehal.jpg" />
  <h3>Nehal Essam</h3>
  <p>Nothing special about this commit, git along now.</p>
</div>
<div>
  <img src="assets/people/MariamKhaled.jpg" />
  <h3>Mariam Khaled Mahran</h3>
  <p>can't think of anything to say.. so hi :)</p>
</div>
<div>
  <img src="assets/people/Wessam.jpg" />
  <h3>Wessam</h3>
  <p>I like coding and music.</p>
</div>
<div>
  <img src="assets/people/lama.jpg" />
  <h3>Lama Ahmed</h3>
  <p>Infinte loop: Eat, Sleep, Code, Repeat.</p>
</div>
<div>
 <img src="assets/people/MohamedMaher.jpg" />
 <h3>Mohamed Maher</h3>
 <p>The biggest risk is to take no risk at all</p>
</div>
<div>
 <img src="assets/people/salmaGhoneim.jpg" />
 <h3>Salma Ghoneim</h3>
 <p>You guys look like you searched the web for funny github commit messages</p>
</div>
<div>
 <img src="assets/people/EsraaAtef.jpg" />
 <h3>Esraa Atef</h3>
 <p>Food is life</p>
</div>
<div>
 <img src="assets/people/yomna.jpg" />
 <h3>yomna Osama</h3>
 <p>Unhandled exception.......</p>
</div>
<div>
 <img src="assets/people/Hisham.jpg" />
 <h3>Ahmed Hisham Rihan</h3>
 <p>while(true) smile ;)</p>
</div>
<div>
 <img src="assets/people/Sarah.jpg" />
 <h3>Sarah Ayman</h3>
 <p>One that dreamt not wisely, but too well</p>
</div>
<div>
 <img src="assets/people/Heidi.png" />
 <h3>Heidi</h3>
 <p>I enjoy being weird</p>
</div>
<div>
   <img src="assets/people/Ali.jpg" />
 <h3>Ali</h3>
 <p>With all the mindless distractions in life..one may not make time to contemplate...not this one</p>
</div>
<div>
 <img src="assets/people/Ibrahim.jpg" />
 <h3>Ibrahim</h3>
 <p>When the going gets tough, the tough gets going!</p>
</div>
<div>
 <img src="assets/people/Dalia.jpg" />
 <h3>Dalia</h3>
 <p>Nothing to read here</p>
</div>
<div>
  <img src="assets/people/Nadine.png" />
  <h3>Nadine</h3>
  <p>*sigh*</p>
 </div>