<nb-card size="medium">
  <nb-card-body>
    <div class="picture" style.background-image="url('assets/images/kitten-{{currentTheme}}.png')"></div>

    <div class="details">
      <div class="title">
        PARASITE
      </div>
      <div class="description">
        <p>A great man once said:
          <q>Drop the SE course.</q> Team Parasite consists of members who chose, although with some regrets, not to. It was
          formed in February 2018, as the product of many voluntary and involuntary decisions. Some say that it was randomness
          that brought us together; others claim that they had carefully planned tutorial transfers, but no one knows for
          sure. In the end, you can find all types of people among us: There are those who care about efficiency and algorithms,
          others who side with teamwork and fairness, and yet others who will probably care about none of the above. It is
          quite normal and acceptable. Some value diligence and dedication; others value their rights to some freedom and
          flexibility. Then, there will always come someone who would say: The ultimate goal is to pass the course, or is
          it not? And many who would rightfully ask: How could balance be achieved? Regardless, as our views clash and as
          we experience the good and bad of cooperation and competition, we will strive as a team to achieve the best we
          can reach. And it is perhaps in this intention, polished by its naivete and many fallacies, that one could find
          some light in our chaotic microcosm.</p>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<p>
  Please add Images underneath
</p>
<div>
  <img src="assets/people/Reda.png" />
  <h3>Reda Ramadan</h3>
  <p>If not asking the client about every detail concerning the product is not SE, what is SE?!</p>
</div>
<div>
  <img src="assets/people/OmarElkilany.jpg" />
  <h3>Omar Elkilany</h3>
  <p>Contemplating the meaning of life since 1996. Progress: I'm 50% sure I exist, and 100% sure that it's not that good of an experience.</p>
</div>
<div>
  <img src="assets/people/Maqarios.jpg" />
  <h3>Maqarios Mohareb</h3>
  <p>Error 404. Time not found!</p>
</div>
<div>
 <img src="assets/people/olfat.jpg" />
 <h3>Olfat Mostafa</h3>
 <p>Essential outcome of a butterfly effect.</p>
</div>
<div>
  <img src="assets/people/OmarEl-Sherif.jpg" />
  <h3>Omar El-Sherif</h3>
  <p>This human is still in the alpha testing phase, optimal performance not guaranteed.</p>
 </div>
 <div>
 <img src="assets/people/OmarElsebai.jpg" />
 <h3>Omar Elsebai</h3>
 <p>Resource leak: 'eyes' is never closed </p>
</div>
<div>
 <img src="assets/people/Nesrin.jpg" />
 <h3>Nesrin Abdulaziz</h3>
 <p>While they are in the pub, we are on github. \O/</p>
</div>
<div>
  <img src="assets/people/Darwish.png" />
  <h3>Ahmed Darwish</h3>
  <p>Katch Kadr fel 2lolo, kmananana</p>
 </div>
