
<div *ngIf="this.products.length">
  <table id="tableStoreProducts">
    <tr>
      <th id="thStoreProductsId">id</th>
      <th id="thStoreProductsName">Name</th>
      <th id="thStoreProductsPrice">Price</th>
      <th id="thStoreProductsSellerName">Seller Name</th>
      <th id="thStoreProductsAddRemove">Cart Status</th>
    </tr>
    <tr *ngFor="let product of this.products" (click)="this.cartService.addProduct(this.cart, product)">
      <td>{{ product.id }}</td>
      <td>{{ product.name | uppercase }}</td>
      <td>{{ product.price | currency }}</td>
      <td>{{ product.sellerName }}</td>
      <td></td>
    </tr>
  </table>
</div>
